

<div class="container">
  <pre></pre>
<h1>User Registration</h1>

    <form #login= "ngForm" (ngSubmit) = "onClickSubmit(login.value)" novalidate >
      <!-- {{ friendModel | json }}  -->
  <pre></pre>
      <div class = "form-group">
      <label for="firstname">
        First Name
      </label> <br>
      <input required minlength="2" maxlength="4" ngModel name = "firstname" #firstname = "ngModel" type="text" id = "firstname" class = "form-control" [(ngModel)]="friendModel.firstname">
    <div *ngIf = "firstname.touched && !firstname.valid" class="alert alert-danger">First Name is required</div>
    <!-- <div *ngIf = "firstname.errors.minlength">Characters are too short</div> -->
    
    
    </div>
  <pre></pre>
    <div class = "form-group">
        <label for="lastname">
          Last Name
        </label> <br>
        <input required ngModel name = "lastname" #lastname = "ngModel" type="text" id = "lastname" class = "form-control" [(ngModel)]="friendModel.lastname" >
        <div *ngIf = "lastname.touched && !lastname.valid" class="alert alert-danger">Last name is required</div>
      </div>
      <pre></pre>
      <div class = "form-group">
        <label for="address">
          Address
        </label> <br>
        <input required ngModel name = "address" #address = "ngModel" type="text" id = "address" class = "form-control" [(ngModel)]="friendModel.address">
        <div *ngIf = "address.touched && !address.valid" class="alert alert-danger">Address is required</div>
      </div>
      <pre></pre>
      <div class = "form-group">
        <label for="email">
         Email
        </label> <br>
        <input required ngModel name = "email" #email = "ngModel" type="text" id = "email" class = "form-control"[(ngModel)]="friendModel.email" >
        <div *ngIf = "email.touched && !email.valid" class="alert alert-danger">Email is required</div>
      </div>
      <pre></pre>
      <div class = "form-group">
        <label for="phoneno">
          Phone No.
        </label> <br>
        <input required ngModel name = "phoneno" #phoneno = "ngModel" type="text" id = "phoneno" class = "form-control" [(ngModel)]="friendModel.phoneno">
        <div *ngIf = "phoneno.touched && !phoneno.valid" class="alert alert-danger">Phone No. is required</div>
      </div>
      <pre></pre>
      <div>
        <label for="language">Favourite language</label>
       
        <select [(ngModel)]="languages" id = "lanuage">
          <option *ngFor="let language of languages" >
            {{language}}
          </option>
      </select>
     
  <pre></pre>
    <button class="btn btn-primary" type="submit">Submit
    </button>
  </div>
  </form>



<router-outlet></router-outlet>
